@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgba(238, 192, 136, 1);
  --primary-color-dark: rgba(235, 180, 114, 1);
  --accent-color: rgba(41, 160, 165, 1);
  --accent-color-dark: rgba(36, 140, 145, 1);
  --background: rgba(78, 78, 78, 1);
  --background-dark: rgba(78, 78, 78, 0.8);
  --text-dark: #383838;
  --button-text-dark: #905f24;
}

body {
  background: var(--background);
  color: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-brandon-regular);
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1;
  font-family: var(--font-joan);
}
/* 
h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 2rem;
} */

p {
  font-size: 1rem;
  line-height: 145%;
}

.underlined {
  position: relative;
  width: fit-content;

  &:before {
    content: ' ';
    width: 40%;
    height: 2px;
    background-color: var(--accent-color);
    position: absolute;
    left: 0;
    bottom: -0.3rem;
    z-index: 10;
  }

  .white {
    &:before {
      background-color: #fff;
    }
  }
}

.tworows {
  &:before {
    left: unset;
    right: 23%;
    width: 30%;
  }
}
