@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgba(238, 192, 136, 1);
  --primary-color-dark: rgba(235, 180, 114, 1);
  --accent-color: rgba(41, 160, 165, 1);
  --accent-color-dark: rgba(36, 140, 145, 1);
  --container-bg-color: rgba(255, 255, 255, 0.05);
  /* --background: rgba(78, 78, 78, 1); */
  --background: rgba(28, 28, 28, 1);
  --background-dark: rgba(78, 78, 78, 0.8);
  --text-dark: #383838;
  --text-light: #fff;
  --button-text-dark: #905f24;
  --padding-container-x: 4rem;
  --padding-container-y: 4rem;
}

body {
  color: #fff;
}

body,
html {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-nunito);
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1;
  font-family: var(--font-joan);
}

p {
  font-size: 1rem;
  line-height: 145%;
}

@layer utilities {
  .hero-clip-path::before {
    clip-path: ellipse(50% 13% at 50% 100%);
  }
  .inline-size {
    inline-size: min-content;
  }
}

.underlined {
  position: relative;
  width: fit-content;

  &:before {
    content: ' ';
    width: 40%;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -0.3rem;
    z-index: 10;
  }

  .white {
    &:before {
      background-color: #fff;
    }
  }
}

.tworows {
  &:before {
    left: unset;
    right: 23%;
    width: 30%;
  }
}

@media (max-width: 1024px) {
  :root {
    --padding-container-x: 2rem;
    --padding-container-y: 2rem;
  }
}

@media (max-width: 640px) {
  :root {
    --padding-container-x: 1rem;
    --padding-container-y: 1.5rem;
  }
}
